/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/* MY CODE */

/* When we create pseudo element,
   not a class, use '::' */
/* Pseudo Elements */
li::first-line {
}
li::first-letter {
}
li::selection {
}
li::before {
  /* content: attr(href); */
  /* img works! url(img) */
}
/* transition
-webkit-transition
-moz-transition
-o-transition */

:root {
  --text-color: #111;
}
body {
  color: var(--text-color);
}
* {
  text-decoration: none;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", Helvetica, Arial,
    sans-serif;
}
main {
  padding-top: 100px;
}
p {
  color: #111;
}

/* Header */
header {
  /* position: fixed; */
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  z-index: 1000;
}
.header-content {
  position: relative;
  max-width: 1170px;
  margin: 10px auto;
}
.header-content:after {
  display: table;
  clear: both;
  content: "";
}
header .lang {
  position: absolute;
  top: 25%;
  right: 0;
  margin-right: 20px;
  padding: 5px;
}
header .lang:hover {
  cursor: pointer;
}
header a.header-brand {
  float: left;
  font-family: arial;
  font-size: 24px;
  line-height: 38px;
  font-weight: 900;
  color: #111;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px;
  color: inherit;
  text-decoration: none;
}
header .decoration {
  line-height: 0;
  margin-top: -7px;
}
header nav {
  float: left;
}
header nav ul {
  margin-bottom: 0;
}
header nav ul:after {
  display: table;
  clear: both;
  content: "";
}
header nav ul li {
  float: left;
  list-style: none;
  padding: 0 16px;
}
header nav ul li a {
  font-family: arial;
  font-size: 16px;
  color: #3a3a3a; /* #111 */
  text-transform: uppercase;
  padding-top: 20px !important;
  display: inline-block;
}

@media only screen and (min-width: 1000px) {
}

/* FOOTER */
footer {
  /* width: calc(100% - 80px); */
  margin-top: 100px;
  background-color: #f3f3f3;
  padding: 70px 0 70px;
}
.footer-sm {
  text-align: center;
  margin-bottom: 20px;
}
.footer-sm a {
  display: inline-block;
  padding: 5px;
  color: #767676;
}
.footer-sm a i {
  font-size: 1.5em;
}
footer p {
  font-size: 1em;
  color: #818181;
  text-align: center;
  padding-bottom: 10px;
}

/* MODAL */
#modal .ui.modal {
  max-width: 94% !important;
  margin: 10vh auto;
  height: fit-content !important;
}
#modal .dimmer.modals {
  position: fixed;
  overflow-y: auto;
}

/* HOME */
.index-banner {
  width: 100%;
  height: calc(100vh - 100px);
  background-image: url("/src/img/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: table;
  padding-left: 200px;
}
.vertical-center {
  display: table-cell;
  vertical-align: middle;
}
.index-banner,
.index-banner p {
  color: #fff;
}
.index-banner h2 {
  font-family: arial;
  font-size: 60px;
  font-weight: 900;
  line-height: 60px;
  /* text-align: center; */
  text-shadow: 2px 2px 8px #111;
}
.index-banner h1 {
  /* font-family: arial; */
  font-size: 28px;
  font-weight: 100;
  font-style: italic;
  line-height: 40px;
  /* text-align: center; */
  text-shadow: 2px 2px 8px #111;
}

@media only screen and (min-width: 1000px) {
  .wrapper {
    width: 1000px;
    margin: 0 auto;
  }
  .index-banner {
    height: 450x;
  }
  /* .index-banner h1 {
    display: block;
    width: 560px;
    margin: 0 auto;
  } */
}
.wrapper h2 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 1em;
}

/* Portfolio */
.cases-boxs {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.cases-boxs .project-box {
  text-align: center;
  flex-basis: 45%;
  margin: 10px;
  overflow: hidden;
}
.cases-boxs .project-box:hover {
  cursor: pointer;
}
.cases-link img {
  width: 100%;
  border: solid 1px #eee;
  border-top: none;
  border-radius: 5px;
}

/* PROJECT */
.project {
  max-width: 750px;
  margin: 0 auto;
  padding: 100px 30px;
  position: relative;
}
.project .times.icon {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px;
  overflow: hidden;
  width: 30px;
  height: 30px;
  font-size: 15px;
}
.project .times.icon:hover {
  cursor: pointer;
}
.project .ui.button.icon {
  background-color: transparent !important;
}
.project .ui.button.icon {
  position: fixed;
  top: 50%;
  font-size: 30px;
  color: #7e7e7e;
  margin: 0;
}
.project .ui.button.icon:hover {
  background: hsla(0, 0%, 85%, 0.3) !important;
  cursor: pointer;
}
.project .ui.button.icon.right {
  right: 0;
}
.project .ui.button.icon.left {
  left: 0;
}
[data-position~="bottom"][data-tooltip]:after {
  margin-left: 5px;
  margin-right: 5px;
}
.project h1 {
  text-align: center;
  margin-bottom: 10px;
}
.project .category {
  text-align: center;
  margin-bottom: 20px;
}
.project .skills {
  text-align: center;
  margin-bottom: 50px;
}
.project .skills span {
  display: inline-block;
  margin: 0 5px;
  padding: 5px;
  border: 1px solid #eee;
}
.project a {
  display: block !important;
  margin: 0 auto !important;
  margin-top: 50px !important;
  width: 100px;
}
.project img {
  width: 100%;
  border: 1px solid #eee;
  border-top: none;
}

/* CONTACT */
.contact p {
  text-align: center;
  font-size: 16px;
  margin-bottom: 30px;
}
form {
  max-width: 550px !important;
  margin: 0 auto;
}
input {
  width: 100%;
}
textarea {
  resize: vertical;
  max-height: 100px;
}
input,
textarea {
  outline: none;
  border: 1px solid #ddd;
}
input:focus,
textarea:focus {
  box-shadow: 0 0 4px rgba(255, 0, 0, 0.5);
}
.contact .btn {
  display: block !important;
  margin: 0 auto;
  margin-top: 20px;
}

/* ABOUT */

/* CONTACT */
/* .contact {
  background-color: #1b1c1d;
  color: rgba(255, 255, 255, 0.9);
  max-height: 100vh;
  max-width: 400px;
  position: fixed;
  right: 0;
  bottom: 0;
  border-radius: 0.28571429rem;
  scroll-y: auto;s
}
.contact .row {
  display: block !important;
}
.contact.col-10 .contact.col-sm-10 {
  width: 100% !important;
  max-width: 100% !important;
}
.contact .button-container {
  height: 80px;
}

@media (min-width: 576px) {
  .contact .col-sm-10 {
    width: 100% !important;
    max-width: 100% !important;
  }
} */
